@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
    box-sizing: border-box;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.changelog {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 80%;
}

.changelog__button {
    color: inherit;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    will-change: border-color;
    margin-bottom: 1rem;
}

.changelog__button:hover {
    border-color: #646cff;
}

.changelog__button:focus,
.changelog__button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.changelog__list {
    padding: 2rem 0;
    position: relative;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 8rem;
}

.changelog__list::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #f0f0f0;
    transform: translateX(-50%);
}

.changelog__title {
    text-align: center;
    color: #aaaaaa;
    margin: 1rem 2rem;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 400;
    margin: 0;

}

.item-description {
    display: block;
    margin: 0 0 0 2rem;
    font-size: 1.5rem;
    line-height: 1.3;
    transform: translateY(20px);
    visibility: hidden;
    opacity: 0;
    will-change: visibility, opacity;

}

.item-description--date {
    font-size: 2rem;
    color: #aaaaaa;
    transform: translateY(-20px);
}

.list__item {
    list-style-type: none;
    grid-column-start: 2;
}

.title {
    font-size: 2rem;
    line-height: 1.1;
    margin: 1rem;
}

.time-wrapper {
    position: relative;
}

.time-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #f0f0f0;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    will-change: opacity, visibility;
}



.visible .item-description {
    visibility: visible;
    opacity: 1;
    transform: none;
    transition: opacity 0.5s ease-in-out 0.7s, visibility 0.5s ease-in-out 0.7s, transform 0.5s ease-in-out 0.7s;
}

.visible .item-description--date {
    transition: opacity 0.5s ease-in-out 0.5s, visibility 0.5s ease-in-out 0.5s, transform 0.5s ease-in-out 0.5s;
}


.visible .time-wrapper::after {
    visibility: visible;
    opacity: 1;
}

.visible .time-wrapper::before {
    width: 3rem;
}

@media screen and (min-width: 768px) {
    .item-description {
        margin: 0 0 0 5rem;
    }

    .changelog__list::before {
        width: 3px;
    }

    .time-wrapper::after {
        left: 3rem;
        transition: opacity 0.5s ease-in-out 0.5s, visibility 0.5s ease-in-out 0.5s;
    }

    .time-wrapper::before {
        content: '';
        position: absolute;
        background-color: #f0f0f0;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 0;
        height: 3px;
        will-change: width;
        transition: width 0.5s linear;
    }

    .visible .item-description {
        transition: opacity 0.5s ease-in-out 1.2s, visibility 0.5s ease-in-out 1.2s, transform 0.5s ease-in-out 1.2s;
    }

    .visible .item-description--date {
        transition: opacity 0.5s ease-in-out 1s, visibility 0.5s ease-in-out 1s, transform 0.5s ease-in-out 1s;
    }

}

@media screen and (min-width: 1024px) {}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    .changelog__button {
        background-color: #f0f0f0;
    }

    .changelog__list::before,
    .list__item--date::before,
    .time-wrapper::after,
    .time-wrapper::before {
        background-color: #213547;
    }
}