@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.changelog { 
  display: flex;
  flex-direction: column;
  place-items: center;
  /* max-width: 720px; */
  width: 90%;
}

.changelog__button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  will-change: border-color;
}
.changelog__button:hover {
  border-color: #646cff;  
}
.changelog__button:focus, .changelog__button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.changelog__list { 
  padding-left: 0;
  /* width: 100%; */
  display: grid;
  grid-template-columns: 20px 1fr;
  position: relative;
}

.changelog__list::before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 2px;
  height: 100%;
  background-color: #f0f0f0;
}

.changelog__title { 
  text-align: center;
  color: #aaaaaa;
  margin: 1rem 2rem;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem;

}

.item-description {
  display: block;
  margin: 0.5rem 2rem;
  line-height: 1.6;
}

.item-description--date {
  margin-bottom: 0;
  color: #aaaaaa;
  /* text-align: right; */
}


.list__item{
  list-style-type: none;
  grid-column-start: 2;
}

.list__item--date::before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #f0f0f0;;
  display: block;
  position: absolute;
  left: 17px;
  margin-top: 17px;
}


.title {
  font-size: 2rem;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .changelog__button {
    background-color: #f0f0f0;
  }
  .changelog__list::before, .list__item--date::before {
    background-color: #213547;
  }
}
